@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We value your privacy. This site collects minimal personal information solely to enhance 
    your experience. We do not share, sell, or misuse your data. By using this site, 
    you agree to our responsible data practices.</p>

